.cart-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-in-out;
	z-index: 998;
	cursor: pointer;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.cart-sidebar {
	position: fixed;
	top: 0;
	right: -100%;
	width: 561px;
	height: 100%;
	background: #fff;
	z-index: 999;
	display: flex;
	flex-direction: column;
	transition: 0.4s ease-in-out;

	&.active {
		right: 0;
	}

	.cart-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 79px 40px 31px 40px;
		border-bottom: 1px solid #ddd;

		h2 {
			color: var(--Black-Primary, #000);

			font-family: 'Poppins', sans-serif;
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: 26px; /* 108.333% */
			letter-spacing: 0.48px;
		}
		.cart-close {
			padding: 0;
			background: none;
			border: none;
			font-size: 24px;
			cursor: pointer;
			display: flex;
			align-items: center;
		}
	}



	.cart-footer {
		padding: 40px;
		margin-top: auto;



		.custom-checkbox{
			margin-bottom: 40px;
		}

		.terms {
			display: block;
			font-size: 14px;
			margin-bottom: 15px;
			a { color: #000; text-decoration: underline; }
		}

		.checkout {
			width: 100%;
			padding: 12px;
			background: #000;
			color: #fff;
			border: none;
			cursor: pointer;
			font-size: 16px;
		}

		.tax-note {
			color: var(--Black-Primary, #000);
			text-align: center;
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			font-style: normal;
			font-weight: 300;
			line-height: 22px; /* 157.143% */
			letter-spacing: 0.28px;
			margin-top: 20px;
		}
	}
}


.cart__fetch{
	color: var(--Black-Primary, #000);
	font-family: Poppins,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: .48px;
}

.cart-sidebar .items_card.cart{
	padding: 0 0 0 0;
}





@media (max-width: 1280px) {
	.cart-sidebar .items_card.cart{
		grid-template-columns: none;
	}
}
@media (max-width: 1199px) {
	body.scrolled .cart-sidebar .cart-header {
		padding: 31px 15px 33px 40px!important;
	}
	.cart-sidebar .cart-header {
		padding: 79px 15px 33px 40px!important;
	}
	.cart-sidebar .items_card__wrapper {
		padding: 40px 15px 40px 40px!important;
	}
	.cart-sidebar .items_card.cart .card{
		width: 105%!important;
	}
}

@media (max-width: 768px) {
	body.scrolled .cart-sidebar .cart-header {
		padding: 31px 15px 33px 15px !important;
	}
	.cart-sidebar .cart-header h2{
		font-size: 20px;
	}
	.subtotal .subtotal__title{
		font-size: 20px!important;
	}
	.subtotal .subtotal__price{
		font-size: 20px!important;
	}
	.cart-sidebar .cart-footer{
		padding: 15px;
	}
	.button_standart.check{
		margin-bottom: 0!important;
	}
	.cart-sidebar .items_card__wrapper {
		padding: 15px 15px 15px 15px !important;
	}
	.cart-sidebar{
		width: 100%!important;
	}

	.items_card{
		padding: 0 0 0 0;
	}
	.items_card.cart .card{
		align-items:normal!important;
		justify-content: space-between!important;
	}
	.items_card.cart{
		display: flex!important;
	}
	.items_card.cart .card .cart-item-info .product_det .product__name{
		white-space: nowrap;
	}
	.items_card.cart .card .cart-item-info .cart-item__title h4{
		white-space: nowrap;


	}



}
@media (max-width: 575px){
	body.scrolled .cart-sidebar .cart-header {
		padding: 31px 15px 33px 40px!important;
	}
	.cart-sidebar .cart-header {
		padding: 40px 15px 15px 15px!important;
	}
	body.scrolled .cart-sidebar .cart-header{
		padding: 15px!important;
	}
}
@media (max-width: 480px) {

	.cart-sidebar .items_card.cart .card{
		width: 100%!important;
	}

	.cart-sidebar .cart-header h2{
		font-size: 21px;
	}

	.cart__fetch{
		font-size: 21px;
	}
	.cart-sidebar .cart-footer .subtotal .subtotal__title{
		font-size: 21px;
	}
	.cart-sidebar .cart-footer .subtotal .subtotal__price{
		font-size: 21px;

	}

	.items_card__wrapper{
		padding: 15px!important;
	}


	.items_card.cart .card .card_image.cart{
		width: 50%;
	}

	.items_card.cart .card .cart-item-info{
		width: 50% ;
	}

	.items_card.cart .card{
		gap: 20px;
	}
	.items_card.cart .card .cart-item-info .cart-item__title h4{
		font-size: 14px!important;
	}
	.items_card.cart .card .cart-item-info .price{
		font-size: 14px!important;
	}
	.items_card.cart .card .cart-item-info{
		gap: 4px!important;
	}


}
@media (max-width: 420px) {
	.items_card.cart .card .cart-item-info .product_det .product__name{
		display: flex;
	}

}






