.catalog_main {
	background: var(--White, #FFF);

	.container {
		padding: 140px 20px 120px 20px;
		display: flex;
		justify-content: center;
		gap: 60px;

		.filters_wrapper {
			position: relative;
			width: 324px; // або стільки ж, скільки у filters_items
			flex-shrink: 0; // щоб не стискався
		}


		.filters_items {
			width: 324px;
			transition: all 0.5s ease-in-out;
			overflow-y: auto;
			max-height: calc(100vh - 160px);
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none; /* IE 10+ */

			.filters_items::-webkit-scrollbar {
				display: none; /* Chrome/Safari */
			}


			&.filters-sticky {
				position: fixed;
				top: 140px;
			}
		}

		.filter__title {
			color: var(--Black-Primary, #000);

			font-family: 'Poppins', sans-serif;
			font-size: 60px;
			font-style: normal;
			font-weight: 600;
			line-height: 70px; /* 116.667% */
			letter-spacing: 1.2px;
		}

		.filter__search-box {
			display: flex;
			align-items: center;
			border: 1px solid #ccc;
			padding: 14px 15px;
			width: auto;
			border-radius: 2px;
			position: relative;
			margin-top: 40px;

			input {
				border: none;
				outline: none;
				color: var(--Dark-Grey-Secondary, #6E7172);

				font-family: 'Poppins', sans-serif;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 22px; /* 157.143% */
				height: 22px;
				padding: 0 0 0 0;
			}


			button {
				background: none;
				border: none;
				cursor: pointer;
				padding: 0;

				svg {
					display: block;
				}
			}
		}

		.filter__material {
			margin-top: 30px;
			display: grid;
			gap: 20px;

			.material_title {
				display: flex;
				justify-content: space-between;

				h2 {
					color: var(--Black-Primary, #000);

					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: 24px; /* 150% */
					letter-spacing: 0.32px;
					cursor: pointer;
				}

				.material_arrow {
					border: none;
					background-color: inherit;
					padding: 0 0 0 0;
					cursor: pointer;
					transition: transform 0.3s ease-in-out;

					&.active {
						transform: rotate(180deg);
					}

				}


			}




		}

		hr {
			border: none;
			height: 1px;
			background: #D8D8D8;
			margin: 20px 0;
		}

		.shop-gift__filters {
			width: 100%;
			color: var(--White, #FFF);
			text-align: center;
			font-family: 'Poppins', sans-serif;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; /* 150% */
			letter-spacing: 0.32px;
			padding: 20px 0;
			margin-top: 41.5px;
		}


		.items_block {


			.sort {
				display: flex;
				justify-content: end;
				gap: 40px;
				align-items: center;

				.list_cube {
					display: flex;
					gap: 20px;
				}
			}

			.sort_menu {
				.select2-container--default .select2-selection--single .select2-selection__rendered {
					color: #6E7172;
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px; /* 150% */
				}

				.select2-container {
					width: 246px;
				}

				.select2-container .select2-selection--single .select2-selection__rendered {
					padding-left: 0;
				}
			}

			.items_block_pagination {
				display: grid;
				gap: 40px;
				margin-top: 30px;
			}
		}


	}
}

.filters_items{
	.title_wrapper{
		display: flex;
		justify-content: space-between;
		.filter-close{
			background: none;
			border: none;
			font-size: 34px;
			cursor: pointer;
			display: none;
		}
	}
}


@media (max-width: 480px) {
	.catalog_main .container .items_block .sort{
		justify-content: space-between;
	}

}


@media (max-width: 768px) {

	.catalog_main .items_card{
		grid-template-columns: repeat(2, 1fr)!important;
	}


	.catalog_main .container .filters_items{
		padding: 30px 0 0 0 ;
	}

	.filter-close{
		display: block!important;
	}

	.catalog_main .container .filters_items{
		max-height: calc(100vh - 130px);
		padding: 30px 0 0 0;
	}

	.catalog_main .container .filters_wrapper{
		display: flex;
		justify-content: center;
	}



}


@media (max-width: 1199px){
	.catalog_main .items_card{
		grid-template-columns: repeat(3, 1fr);
	}
	.gift .container .gift_items__right .gift_items__info{
		padding: 115px 80px 114px 80px;
	}
	.container.mod .newsletter_catalog__title{
		font-size: 35px!important;
	}

	.catalog_main .container .filters_wrapper {
		position: fixed; // щоб блок перекривав контент
		top: 0;
		left: 0;
		height: 100%;
		width: 100%; // або 100% якщо хочеш на весь екран
		background: #fff;
		z-index: 2000;

		// Початковий стан – схований зліва
		transform: translateX(-100%);
		transition: transform 0.4s ease-in-out;
		box-shadow: 2px 0 10px rgba(0,0,0,0.1);

		form {
			display: flex;
			justify-content: center;
		}

		&.active {
			// При відкритті виїжджає в нуль
			transform: translateX(0);
		}
	}


	// щоб на мобільному товари не зміщувались
	.items_block {
		flex: 1;
		width: 100%;
	}
}

//
//@media (max-width: 1579px) {
//	.catalog_main .items_card{
//		grid-template-columns: repeat(2, 1fr);
//	}
//	.container.mod .gift_items{
//		display: grid!important;
//	}
//
//	.container.mod .newsletter_catalog__title{
//		font-size: 40px!important;
//	}
//
//	.container.mod{
//		padding: 0 20px 120px 20px!important;
//	}
//
//
//}
