.product_sections {
	background-color: #FFFFFF;

	.container {
		display: flex;
		justify-content: center;
		gap: 158px;
		padding: 140px 0 0 0;

		.image_details {
			display: grid;
			gap: 15px;
			width: auto;

			.images_details_top {
				max-width: 736px;
				height: 918px;
				position: relative;

				a {
					cursor: pointer;
					display: block;
					height: 100%;
				}

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
				}
			}

			.images_details_bottom {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				max-width: 736px;
				gap: 15px;

				.images_details_small {
					max-width: 364px;
					height: 453px;

					a {
						cursor: pointer;
						display: block;
						height: 100%;
					}

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-fit: cover;
					}
				}
			}
		}

		.product_details {

			.product_details__title {
				h2 {
					color: var(--Black-Primary, #000);

					font-family: 'Poppins', sans-serif;
					font-size: 48px;
					font-style: normal;
					font-weight: 600;
					line-height: 64px; /* 133.333% */
					letter-spacing: 0.96px;
					margin-bottom: 10px;
				}

			}

			.product_details__status {
				color: var(--Black-Primary, #000);

				font-family: 'Poppins', sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 150% */
				letter-spacing: 0.32px;
			}

			.product_details__price {
				color: var(--Black-Primary, #000);
				font-family: 'Poppins', sans-serif;
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: 26px; /* 108.333% */
				margin-top: 20px;
			}

			.product_details__wrapper {
				max-width: 100%;
			}

			.product_details__filters {
				display: flex;
				gap: 20px;
				align-items: center;
				margin-top: 40px;

				.gift_items__wrapper {
					display: flex;
					gap: 20px;
				}
			}

			.filters_title {
				color: var(--Dark-Grey-Secondary, #6E7172);
				font-family: 'Poppins', sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 150% */
				white-space: nowrap;


			}

			.gift_items__button {
				a {
					opacity: 1;
				}

				.button_standart.ft {
					padding: 14px 20px 14px 20px;
					font-size: 16px;
					background: #ffffff;
					border: 1px solid #D8D8D8;
					color: #000000;

					&:hover {
						color: #fff;
						border: 1px solid #D8D8D8;
						background: #000;
					}
				}
			}

			.sort_menu .select2-container {
				width: 203px;
			}


			.gift_items__button {

				.button_standart.buy {
					width: 100%;
					margin-top: 40px;

					&:hover {
						opacity: 1;
					}
				}
			}

			.gift_items__button {

				.button_standart.cart {
					display: flex;
					gap: 10px;
					padding: 18px 91px 18px 79px;
					width: 100%;
					margin-top: 20px;
					background: #ffffff;
					color: #000000;
					border: 2px solid #000000;

					svg path {
						stroke: currentColor;
						fill: none;
					}

					&:hover {
						opacity: 1;
						//background: transparent;
						color: #ffffff;
						border: 2px solid #000000;
						background: rgba(0, 0, 0, 1);

					}
				}
			}

			.product-tabs {
				max-width: 700px;
				font-family: 'Poppins', sans-serif;
				margin: 80px 0 0 0;

				.tabs {
					display: flex;
					border-bottom: 1px solid #D8D8D8;
					justify-content: space-between;


					.tab {
						background: none;
						border: none;
						padding: 0 0 20px 0;
						cursor: pointer;
						color: var(--Grey, #999);

						/* H4-Desktop */
						font-family: 'Poppins', sans-serif;
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px; /* 144.444% */
						letter-spacing: 1.08px;
						text-transform: uppercase;
						transition: 0.4s ease-in-out;
						flex-wrap: wrap;

						&.active {
							color: var(--Black-Primary, #000);

							/* H4-Desktop */
							font-family: 'Poppins', sans-serif;
							font-size: 18px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px; /* 144.444% */
							letter-spacing: 1.08px;
							text-transform: uppercase;
							border-bottom: 1px solid #000;
							flex-wrap: wrap;
						}

						&:hover {
							color: var(--Black-Primary, #000);
						}
					}
				}

				.tab-content {
					display: none;
					padding: 20px 0;
					color: var(--Black-Primary, #000);

					/* Paragraph-1 */
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px; /* 150% */
					letter-spacing: 0.32px;
					max-width: 610px;

					&.active {
						display: block;
					}

					.pickup {
						margin-top: 15px;
						color: var(--Black-Primary, #000);
						font-family: 'Poppins', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 300;
						line-height: 24px; /* 150% */
						letter-spacing: 0.32px;

						svg {
							margin-right: 10px;
						}

						strong {
							color: var(--Black-Primary, #000);
							font-family: 'Poppins', sans-serif;
							font-size: 16px;
							font-style: normal;
							font-weight: 600;
							line-height: 24px;
							letter-spacing: 0.32px;
						}

						span {
							color: var(--Black-Primary, #000);
							font-family: 'Poppins', sans-serif;
							font-size: 14px;
							font-style: normal;
							font-weight: 300;
							line-height: 22px; /* 157.143% */
							letter-spacing: 0.28px;
							margin: 10px 0 0 28px;
						}
					}

					.share {
						display: flex;
						gap: 30px;
						margin-top: 40px;

						.links {
							display: flex;
							gap: 20px;
							align-items: center;
							justify-content: center;
						}

						span {
							color: var(--Black-Primary, #000);

							/* H4-Desktop */
							font-family: 'Poppins', sans-serif;
							font-size: 18px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px; /* 144.444% */
							letter-spacing: 1.08px;
							text-transform: uppercase;
						}

						a {
							margin-right: 10px;
							color: #000;
							text-decoration: none;
						}
					}
				}
			}

		}

	}

}


.product_page {
	.items {
		padding-top: 0px !important;
		padding-bottom: 120px;
	}
}

.items.more {
	padding-bottom: 120px;
}


#variant-select {
	display: none !important;
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	position: absolute !important;
}


.product_sections .container .product_details .gift_items__button .button_standart.ft.active {
	color: #fff;
	border: 1px solid #d8d8d8;
	background: #000;
}


.gift_items__button {
	form {
		width: 100%;

	}
}

@media (max-width: 575px) {
	.product_sections .container {
		display: grid !important;
		padding: 70px 15px 20px 15px;
		gap: 20px;
	}

	.product_sections .container .image_details .images_details_top {
		height: 450px!important;
	}
	.product_sections .container .image_details .images_details_bottom .images_details_small {
		height: 218px!important;
	}

	.product_sections .container .product_details .product_details__title h2 {
		font-size: 21px;
		font-style: normal;
		font-weight: 600;
	}
	.product_sections .container .product_details .product_details__price {
		font-size: 21px;
	}
	.product_sections .container .product_details .filters_title {
		font-size: 14px;
	}
	.product_sections .container .product_details .gift_items__button .button_standart.ft{
		font-size: 14px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		font-size: 14px;
	}
	.select2-container--default .select2-selection--single{
		padding: 12px 13px;
	}
	.product_sections .container .product_details .quantity .quantity-control{
		padding: 12px 20px;
	}
	.product_sections .container .product_details .product_details__filters{
		margin-top: 20px;
	}

	.product_sections .container .product_details .gift_items__button .button_standart.buy{
		margin-top: 20px;
	}
	.product_sections .container .product_details .product-tabs{
		margin: 40px 0 0 0;
	}
	.product_sections .container .product_details .product-tabs .tabs .tab.active{
		font-size: 14px;
	}
	.product_sections .container .product_details .product-tabs .tabs .tab{
		font-size: 14px;
		padding: 0 0 10px 0;
	}
	.product_sections .container .product_details .product-tabs .tab-content{
		padding: 15px 0;
		font-size: 14px;
	}
	.product_sections .container .product_details .product-tabs .tab-content .pickup{
		font-size: 14px;
	}
	.product_sections .container .product_details .product-tabs .tab-content .pickup strong{
		font-size: 14px;
	}
	.product_sections .container .product_details .product-tabs .tab-content .share span{
		font-size: 14px;
	}
	.product_sections .container .product_details .product-tabs .tab-content .share{
		gap: 15px;
		margin-top: 20px;
	}
	.product_sections .container .product_details .product-tabs .tab-content .share .links{
		gap: 10px;
	}
	.items.more{
		padding-bottom: 50px;
	}

	//.product_sections .container .image_details .images_details_top{
	//	height: 335px !important;
	//}

}

@media (max-width: 992px){
	.product_details{
		display: grid!important;
		justify-content: normal!important;
		gap: 50px!important;
	}
	.product_sections .container{
		gap: 80px;
	}
	.product_sections .container .image_details .images_details_top {
		height: 535px;
	}
	.product_sections .container .image_details .images_details_bottom .images_details_small{
		height: 260px;
	}

}

@media (max-width: 1280px){
	.product_sections .container .image_details .images_details_bottom .images_details_small{
		height: 310px;
	}
	.product_sections .container .image_details .images_details_top{
		height: 635px;
	}
}


@media (max-width: 1579px) {
	.product_sections .container {
		display: grid !important;
		padding: 140px 20px 0 20px;
	}
	.product_sections .container .image_details{
		display: flex;
	}
	.product_details{
		display: flex;
		justify-content: space-between;
		gap: 50px;
	}
	.product_sections .container .product_details .product-tabs{
		margin: 15px 0 0 0;
		max-width: 1200px!important;
	}
	.product_sections .container .image_details .images_details_top{
		max-width: 590px;
	}

}
