@import "lib/mixins";
@import "lib/normalize";
@import "lib/sprite";
@import "lib/svgfont";
@import "common";
@import "partials";
@import "btn";
@import "form";
@import "responsive";
@import "partials/main";
@import "partials/items_card";
@import "partials/jewelry_collections";
@import "partials/blog";
@import "partials/new_collection_2022";
@import "partials/gift";
@import "partials/select2";
@import "partials/catalog_main";
@import "partials/noUiSlider";
@import "partials/newsletter_catalog";
@import "partials/product_page";
@import "partials/cart";
@import "partials/cart_page";






html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	font-size: 62.5%;
}


a{
	text-decoration: none;
}
li.ul{
	text-decoration: none;
}


body{
	background-color: #181818;
	font-family: "Items-Demo";
	font-size: 1.4rem;
	color: #e0e0e0;
	line-height: 1.5;
	overflow-x: hidden
}
body.scroll-lock {
	overflow: hidden;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}
a{
	color: black;
	text-decoration: none;
	transition: opacity .5s ease-in-out;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}



////////////////button////////////////////////
.gift_items__button{
	display: flex;
	justify-content: start;
}

.gift_items__button .button_standart{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins",sans-serif;
	font-size: 14px;
	background: #000;
	color: #fff;
	padding: 20px 91px 22px 79px;
	cursor: pointer;
	border: 2px solid rgba(0,0,0,0);
	transition: all .5s ease-in-out;
	text-decoration: none;
	line-height: 1;

	&:hover {
		//background: transparent;
		color: #000000;
		border: 2px solid #000000;
		background: rgba(255, 255, 255, 0.2); // прозорий білий фон
		backdrop-filter: blur(10px); // саме розмиття
		-webkit-backdrop-filter: blur(10px); // для Safari
	}
}

.button_standart.check{
	width: 100%;
	margin-bottom: 20px;
}

.button_standart.fetch{
	width: 100%;
}



//////////////////show_more////////////////////
.items_button {
	display: flex;
	justify-content: center;
	background: inherit;
	border: none;
	height: auto;
	width: auto;
	padding: 0 0 0 0;
	margin-top: 20px;
}

.button_show {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	color: var(--Black-Primary, #000);
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 1.08px;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid #fff;
	background-color: #fff;
	text-decoration: none;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px; // на 4px нижче тексту
		width: 100%;
		height: 1px;
		background-color: var(--Black-Primary, #000);
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.3s ease-in-out;
	}

	&:hover::after {
		transform: scaleX(1);
	}
	&:hover{
		opacity: 1;
	}
}


///////////paginations//////////////////


.pagination {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 80px;
}

.page-btn {
	padding: 10px 17px 8px 17px;
	border: 1px solid var(--Light-Colors-Gray---Light, #D8D8D8);
	background: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 157.143% */
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	color: black;

	&:hover {
		color: #000000;
		border: 1px solid #000000;
		background: rgba(255, 255, 255, 0.2); // прозорий білий фон
		backdrop-filter: blur(10px); // саме розмиття
		-webkit-backdrop-filter: blur(10px); // для Safari
	}
}

.page-btn.active {
	background: #000;
	color: var(--Light-Colors-White---Light, #FFF);
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 157.143% */
}

#product-grid .card {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

#product-grid .card.fade-out {
	opacity: 0;
	transform: translateY(20px);
}

.product-badge {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: #fff;
	color: var(--Black-Primary, #000);
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 166.667% */

	padding: 2px 10px;
	z-index: 1;
	transition: all 0.3s ease;
}


///////quantity//////////
.quantity {
	.quantity-control {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 30px;
		background-color: inherit;
		border-radius: 0px;
		gap: 16px;
		width: 204px;
		border: 1px solid #D8D8D8;
		background: var(--White, #FFF);


	}

	.quantity-control.cart{
		padding: 8px 17px;
		width: 120px;
	}

	.qty-btn {
		background: none;
		border: none;

		cursor: pointer;
		color: var(--Light-Colors-Dark-gray---Light, #707070);
		text-align: center;
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 27px; /* 168.75% */
		padding: 0 4px;
		display: flex;

		svg path {
			fill: #000000;
			transition: fill 0.3s ease-in-out;
		}

		svg:hover path {
			fill: #6a6a6a;
		}
	}

	.qty-value {
		color: var(--Light-Colors-Dark-gray---Light, #707070);
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}



////////////checkbox standart//////////////////////
.material_menu {
	display: grid;
	gap: 20px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-in-out;
	$checkmark-svg: '%3Csvg%20width%3D%2214%22%20height%3D%2210%22%20viewBox%3D%220%200%2014%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.2803%200.71967C13.5732%201.01256%2013.5732%201.48744%2013.2803%201.78033L5.28033%209.78033C4.98744%2010.0732%204.51256%2010.0732%204.21967%209.78033L0.21967%205.78033C-0.0732233%205.48744%20-0.0732233%205.01256%200.21967%204.71967C0.512563%204.42678%200.987437%204.42678%201.28033%204.71967L4.75%208.18934L12.2197%200.71967C12.5126%200.426777%2012.9874%200.426777%2013.2803%200.71967Z%22%20fill%3D%22black%22/%3E%3C/svg%3E';


	&.active {
		max-height: 500px;
	}

	.custom-checkbox {
		display: flex;
		align-items: center;
		gap: 11px;
		cursor: pointer;

		input {
			display: none;

			&:checked + .checkmark::after {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
		}

		.checkmark {
			width: 18px;
			height: 18px;
			border: 1px solid #D8D8D8;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 14px;
				height: 10px;
				background-image: url("data:image/svg+xml,#{$checkmark-svg}");
				background-repeat: no-repeat;
				background-size: contain;
				opacity: 0;
				transform: translate(-50%, -50%) scale(0.5);
				transition: opacity 0.3s ease, transform 0.3s ease;
				pointer-events: none;
			}
		}

		.custom-checkbox_title {
			color: var(--Black-Primary, #000);

			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px; /* 157.143% */
		}
	}

	.material_arrow svg {
		transition: transform 0.3s ease;
	}

	.material_menu.active ~ .material_title .material_arrow svg {
		transform: rotate(180deg);
	}
}


////////////////////////////////////////
#mainImage {
	opacity: 1;
	transition: opacity 0.3s ease;
}



////////////cart subtotal////////
.subtotal {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin-bottom: 20px;

	.subtotal__title{
		color: var(--Black-Primary, #000);

		/* H3-Desktop */
		font-family: 'Poppins', sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px; /* 108.333% */
		letter-spacing: 0.48px;
	}

	.subtotal__price{
		color: var(--Black-Primary, #000);
		text-align: right;

		/* H3-Desktop */
		font-family: 'Poppins', sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px; /* 108.333% */
		letter-spacing: 0.48px;
	}

}


///////cart items //////
.cart-sidebar{
	.items_card__wrapper{
		overflow-x: hidden;
		padding: 40px 40px 40px 40px;
	}

	.items_card.cart {
		display: grid;
		justify-content: start!important;

		.card {
			display: flex;
			align-items: flex-start;
			gap: 20px;
			margin-bottom: 20px;
			width: 100%;

			.card_image{
				width: 250px!important;
				height: 199px;

				.product-badge{
					top: 10px;
					left: 10px;
				}
				.view-more{
					padding: 10px;
				}

			}




			.cart-item-info {
				display: grid;
				gap: 8px;
				width: 100%;


				.cart-item__title{
					display: flex;
					justify-content: space-between;
					gap: 10px;
					h4 {
						color: #3A3836;
						text-align: center;

						font-family: 'Poppins', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 300;
						line-height: 24px; /* 150% */
						letter-spacing: 0.32px;
					}
				}

				.price {
					color: #3A3836;

					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: 24px; /* 150% */
					letter-spacing: 0.32px;
				}

				.product_det{
					display: flex;
					gap: 5px ;
					.product__name{
						color: var(--Dark-Grey-Secondary, #6E7172);
						text-align: center;
						font-family: 'Poppins', sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 300;
						line-height: 22px; /* 157.143% */
						letter-spacing: 0.28px;
					}
					.product__var{
						color: var(--Black-Primary, #000);
						font-family: 'Poppins', sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 300;
						line-height: 22px;
						letter-spacing: 0.28px;
					}
				}

				.qty {
					display: flex;
					align-items: center;
					margin-top: 8px;

					button {
						width: 24px;
						height: 24px;
						border: 1px solid #ccc;
						background: none;
						cursor: pointer;
					}
					input {
						width: 30px;
						text-align: center;
						border: 1px solid #ccc;
						margin: 0 5px;
					}
				}
			}

			.remove {
				display: flex;
				justify-content: center;
				align-items: center;
				background: none;
				border: none;
				font-size: 20px;
				cursor: pointer;
				padding: 0;
			}
		}
	}
}






////body class scrolled///
body.scrolled .cart-sidebar .cart-header {
	padding: 31px 40px 31px 40px;
}

body.scrolled .header .mobile-menu .container {
	padding: 30px 15px;
}

@media (max-width: 575px) {
	body.scrolled .header .mobile-menu .container {
		padding: 15px 15px;
	}
}
/////////////////////////







